body{
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-weight: 300;
    background-color: #39b2a9 !important;
}
header{
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.heading{
    float: left;
    width: 500px;
    margin: 10px 10px;
}
.form-buttons{
    margin: 10px 10px;
}
ul.nav li{
    margin-left: 10px;
}
.btn-shadow.btn-primary {
    box-shadow: 0 4px #29b392;
}
.btn-primary {
    background-color: #41cac0 !important;
    border-color: #41cac0 !important;
    color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #39b2a9;
    border-color: #39b2a9;
    color: #FFFFFF;
}
.form-head {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-head-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-head-left h3 { margin-top: 0; }

.form-head-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-content {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-content form textarea {
    height: 100px;
}

.form-content form .input-error {
    border-color: #19b9e7;
}

/*custom*/
.main-form{
    
        padding: 20px;
    padding-top: 50px;
}

.form-buttons > ul {
    
        padding: 20px !important ;
}
.without_css {
    
    box-shadow: 0 4px #29b392;
    background-color: #41cac0 !important;
    border-color: #41cac0 !important;
    border-radius: 5px;
    color: #fff;
    height: 34px;
}
.without_css > a {
color: #fff;
    padding-top: 8px !important;
}
.without_css:hover {
    
    box-shadow: 0 4px #29b392  !important;
    background-color: #41cac0 !important;
    border-color: #41cac0 !important;
    border-radius: 5px  !important;
    color: #fff  !important;
    height: 34px  !important;
}
.without_css > a:hover {
    
    box-shadow: 0 4px #29b392  !important;
    background-color: #41cac0 !important;
    border-color: #41cac0 !important;
    border-radius: 5px  !important;
    color: #fff  !important;
    height: 34px  !important;
}
.Formdoid-logo > h3 {
    color:#000 !important;
    font-family: 'Josefin Sans', sans-serif;
}
.reg-form{
      font-family: 'Josefin Sans', sans-serif;
    color: #fff  !important;
}